.mb-3 {
padding: 0;
}

.navbar-container{
    height: 8rem;
    width: 200%;
    background-color: #ddbd18;
    margin-bottom: 25px;
    margin-top: 0;
}

.signed-navbar{
    margin: 0;
    margin-left:80px;
}

.login-navbar{
    margin-left:80px;
    width: 100px;
}